# @package _global_
defaults:
  - override /model: yolox_lstm

model:
  backbone:
    name: CSPDarknet_LSTM
    input_channels: 20
    out_features: [3, 4, 5]
    depth: 0.33
    width: 0.5 
    depthwise: False
    act: "silu"
    lstm:
        dws_conv: False
        dws_conv_only_hidden: True
        dws_conv_kernel_size: 3
        drop_cell_update: 0
    in_res_hw:
      - ???
      - ???


  neck:
    name: PAFPN
    compile:
      enable: False
      args:
        mode: reduce-overhead
    depth: 0.33 # round(depth * 3) == num bottleneck blocks
    # stage 1 is the first and len(num_layers) is the last
    in_stages: [3, 4, 5]
    depthwise: False
    act: "silu"
  head:
    name: YoloX
    compile:
      enable: False
      args:
        mode: reduce-overhead
    depthwise: False
    act: "silu"
    motion_branch_mode: null
  postprocess:
    confidence_threshold: 0.1
    nms_threshold: 0.45
