defaults:
  - model: ???   
  - dataset: ???  
  - _self_
batch_size:
  train: 1
  eval: 1
hardware:
  num_workers:
    train: 1
    eval: 1
  gpus: 0 

output_path: outputs.mp4
gt: False
pred: False 
fps: 10
num_sequence: 1
dataset_mode: test
ckpt_path: null
visualize_feature_map: True

hydra:
  run:
    dir: ./outputs/visualize/${now:%Y-%m-%d}/${now:%H-%M-%S}
